# List methods

In [2]:
birds =["peacock","budgies","cocketail",1,2,3]

len(birds)

6

In [3]:
birds.append("love birds")
print(birds)

['peacock', 'budgies', 'cocketail', 1, 2, 3, 'love birds']

In [8]:
birds.remove("peacock")
print(birds)

['budgies', 'cocketail', 1, 2, 3, 'love birds']

In [9]:
birds.insert(1,"peacock")
print(birds)

['budgies', 'peacock', 'cocketail', 1, 2, 3, 'love birds']

In [10]:
birds.reverse()
print(birds)

['love birds', 3, 2, 1, 'cocketail', 'peacock', 'budgies']

# string methods

In [11]:
n1="abdul"
n2="rahman"

N=n1 + n2
print(N)

abdulrahman

In [12]:
print(n1*3)

abdulabdulabdul

In [19]:
N[0]

'a'

In [20]:
N[-1]

'n'

In [21]:
N[0:5]

'abdul'

In [22]:
N[6:11]

'ahman'

# Dictionary methods

In [24]:
dit ={"name":"abdul","age":"19","profession":"student"}

type(dit)

dict

In [25]:
dit.get("name")

'abdul'

In [26]:
dit.keys()

dict_keys(['name', 'age', 'profession'])

In [27]:
dit.pop("name")

'abdul'

In [29]:
dit["school:"]="campion"

In [30]:
print(dit)

{'age': '19', 'profession': 'student', 'school:': 'campion'}

In [31]:
dit.popitem()

('school:', 'campion')

# Tuple methods

In [32]:
tup =("abdul","e",1,2,6)

type(tup)

tuple

In [33]:
tup.count("e")

1

In [35]:
tup.index(2)

3

In [38]:
tup1=("#",3,7,"rahman")

tup2 =tup+tup1

In [39]:
print(tup2)

('abdul', 'e', 1, 2, 6, '#', 3, 7, 'rahman')

# Set methods

In [41]:
st={1,3,6,"bat","ball","cricket"}

type(st)

set

In [42]:
len(st)

6

In [46]:
st.issubset(st)

True

In [47]:
st.remove("bat")

print(st)

{1, 3, 'cricket', 6, 'ball'}

In [48]:
st.add("dhoni")

In [49]:
print(st)

{1, 3, 'cricket', 6, 'ball', 'dhoni'}

In [51]:
st.issuperset(st)

True

In [53]:
st1={8,9,"carrot","beans","cauliflower"}

type(st1)

set

In [55]:
st1.discard("carrot")

In [57]:
print(st1)

{8, 9, 'cauliflower', 'beans'}

                                 *****THANK YOU  *****